In [1]:
import pandas as pd
pd.__version__

'1.3.2'

In [2]:
names_series = pd.Series(["Mark", "John", "Daniel", "Greg"])
names_series

0      Mark
1      John
2    Daniel
3      Greg
dtype: object

In [5]:
salary_series = pd.Series([1000, 1500, 2300, 5000])
salary_series

0    1000
1    1500
2    2300
3    5000
dtype: int64

In [4]:
names_series.describe()

count        4
unique       4
top       Mark
freq         1
dtype: object

In [6]:
salary_series.describe()

count       4.000000
mean     2450.000000
std      1782.320585
min      1000.000000
25%      1375.000000
50%      1900.000000
75%      2975.000000
max      5000.000000
dtype: float64

In [14]:
salary_series_raise = pd.Series([1100, 1600, 2400, 5100])

for salary in salary_series_raise:
    print(salary)

1100
1600
2400
5100

In [12]:
salary_series_raise

0    1100
1    1600
2    2400
3    5100
dtype: int64

In [15]:
salary_series.index

RangeIndex(start=0, stop=4, step=1)

In [16]:
salary_series.index = names_series
salary_series

Mark      1000
John      1500
Daniel    2300
Greg      5000
dtype: int64

In [18]:
salary_series['John']

1500

In [19]:
salary_series[2] # wyświetli i tak pensję bo imiona są tu też indeksami

2300

In [21]:
names = ["Mark", "John", "Daniel", "Greg"]
salaries = [1000, 1500, 2300, 5000]
salary_series_improved = pd.Series(salaries, index=names) # przypisanie indeksów w postaci listy 'names'
salary_series_improved

Mark      1000
John      1500
Daniel    2300
Greg      5000
dtype: int64

In [33]:
salary_series_raise = pd.Series([1100, 1600, 2400, 5100])
salary_raise = 100

for salary in salary_series_raise:
    print(salary+salary_raise)

1200
1700
2500
5200